body {
    background-image: url("img/background_cipher.jpg");
    background-color: hsl(135, 98%, 36%);
    background-size: cover;
    @import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;600&display=swap');
    font-family: 'Dosis', sans-serif;
    font-size: 16px;
    margin: 100px 100px 100px 100px;
    text-align: center;
    line-height: 2.0;
}

h1{
    color: hsl(224, 98%, 16%);
}

.buttons {
    text-align: center;
    color: hsl(224, 98%, 16%);
    background: hsl(143, 38%, 77%);
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 2px 20px;
}

.principal {
    background-color: #24ce6b;
    height: 40px;
    max-width: 70%;
    margin: 0 auto;
}

.principal a {
    color: #ebebeb;
    text-decoration: none;
    font-weight: normal;
    line-height: 2.5;
}

.principal li {
    display: inline-block;
    line-height: 2.5;
    margin: 0 89px;
}

#sectionCodificar {
    width: 300px;
    height: 200px;
    float: left;
    background-color: #ebebeb;
    border-radius: 4px;
    margin-left: 200px;
    max-width: 80%;
}

#sectionDecodificar {
    width: 300px;
    height: 200px;
    float: right;
    background-color: #ebebeb;
    border-radius: 4px;
    margin-right: 200px;
    max-width: 80%;
}

section {
    width: 70%;
    margin: 0 auto;
    background-color: #addabe;
    border-radius: 4px;
    color: hsl(224, 98%, 16%);
    text-align: auto;
    padding: 5px 10px;
}

section section {
    width: 100%;
    padding: 0;
}

#mensagemCodificar {
    width: 200px;
    height: 100px;
}

#mensagemDecodificar {
    width: 200px;
    height: 100px;
}

#chave {
    width: 100px;
}

footer {
    float: inline-end;
}