body {
    background-image: url("img/background_cipher.jpg");
    background-color: hsl(135, 98%, 36%);
    background-size: cover;
    @import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;600&display=swap');
    font-family: 'Dosis', sans-serif;
    font-size: 16px;
    color: #011752;
    margin: 100px 100px 100px 100px;
    text-align: center;
    line-height: 2.0;
}

h1{
    color: hsl(224, 98%, 16%);
}

.buttons {
    text-align: center;
    color: hsl(224, 98%, 16%);
    background: hsl(143, 38%, 77%);
    border: 1px solid #FFC928;
    border-radius: 4px;
    padding: 2px 20px;
}

.caixaTexto {
    border: 1px solid #FFC928;
}

/*mexe somente com a barra de menu, definindo cor, tamanho, margem.
Não usar para alinhamento de texto*/
#principal {
    background-color: #24ce6b;
    height: 40px;
    max-width: 75%;
    margin: 0 auto;
}
/*trabalha com os itens como um todo, como uma lista*/
#principal ul {
    justify-items: center;
    display: flex;
}

/*texto/letras/palavras do menu*/
#principal li a {
    color: #ebebeb;
    text-decoration: none;
    font-weight: bold;
}

/*mexe com cada idem do menu, como se fossem caixas*/
#principal li {
    margin: auto;
    list-style: none;
    display: inline-flex;
}

#sectionCodificar {
    width: 250px;
    height: 150px;
    float: left;
    background-color: #ebebeb;
    border-radius: 4px;
    margin-left: 200px;
    max-width: 80%;
}

#sectionDecodificar {
    width: 250px;
    height: 150px;
    float: right;
    background-color: #ebebeb;
    border-radius: 4px;
    margin-right: 200px;
    max-width: 80%;
}

section {
    width: 70%;
    margin: 0 auto;
    background-color: #addabe;
    border-radius: 4px;
    color: hsl(224, 98%, 16%);
    text-align: auto;
    padding: 5px 10px;
}

section section {
    width: 100%;
    padding: 0;
}

#mensagemCodificar {
    width: 200px;
    height: 70px;
}

#mensagemDecodificar {
    width: 200px;
    height: 70px;
}

#chave {
    width: 100px;
}

footer {
    float: inline-end;
}